[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "delphidocs"]
	path = delphidocs
	url = https://github.com/cmu-delphi/delphidocs
	registered = false
[submodule "epidatr"]
	path = epidatr
	url = https://github.com/cmu-delphi/epidatr
